= render "leftside"
.l-container
  .l-content
    %section.mypage-tab-container
      %h2.mypage-tab-head 出品した商品
      .mypage-tabs
        = link_to "取引中",root_path
      .tab-content
        - @items.each do |item|
          - if item.seller_id == current_user.id && item.buyer_id.blank?
            -# 変更済
            = link_to item_path(item) do
              %p= item.name
              %ul.image
                = image_tag item.images[0].src.url
                %li.price
                  - price = item.price
                  - postage = 500
                  - if item.delivery_fee_id == (1)
                    ¥
                    = item.price
                  - else
                    ¥
                    = price + postage
      = paginate @items
= render "footer"