%body

  = render "header"

  %nav.breadCrumbs
    %ul
      %li
        = link_to "FURIMA",root_path
      - if @item.category.parent.parent != nil
        %li 
          = icon("fas", "angle-right")
        %li
          = link_to categories_path do
            = @item.category.parent.parent.name
      
      - if @item.category.parent != nil
        %li 
          = icon("fas", "angle-right")
        %li
          - if @item.category.parent.parent != nil
            = link_to category_categories_child_show_path(category_id: @item.category.id) do
              = @item.category.parent.name
          - else
            = link_to categories_path do
              = @item.category.parent.name
        %li
          = icon("fas", "angle-right")
        %li
          = link_to category_path(category_id: @item.category.id) do
            = @item.category.name
        %li
          = icon("fas", "angle-right")
        %li
          %p
            = @item.name

  .main
    .showMain
      .contentLeftqq
      .contentRight
        .topContent
          .itemBox
            .itemBox__name
              = @item.name
            .itemBox__body
              %ul
                %li
                  = image_tag @item.images[0].src.url,id:'bigimg'
                  - if @item.buyer_id.present?
                    .image_sold
                      This item is sold out
                  %ul
                    .item_images
                      %li
                        - @item.images.each do |i|
                          = image_tag i.src.url,class:'thumb'

            .itemBox__price
              - price = @item.price
              - postage = 500
              - if @item.delivery_fee_id == (1)
                %span ¥
                = @item.price
                %p (税込)
              - else
                %span ¥
                = price + postage
                %p (税込)
              .itemBox__price__detail
                

            .itembox__detail__buy
              - if user_signed_in? && current_user.id != @item.seller_id && @item.buyer_id != current_user.id
                %button= link_to '購入画面に進む',confirm_path(@item)

            .itembox_blank
            
            .table
              %table
                %tbody
                  %tr
                    %th 出品者
                    %td 
                      = @user.nickname

                  %tr
                    %th 商品の説明
                    %td 
                      = @item.explanation

                  %tr
                    %th カテゴリー
                    %td 
                      - if @item.category.parent.parent != nil
                        = link_to categories_path do
                          = @item.category.parent.parent.name
                      %br
                      - if @item.category.parent.parent != nil
                        = link_to category_categories_child_show_path(category_id: @item.category.id) do
                          = @item.category.parent.name
                      - else
                        = link_to categories_path(category_id: @item.category.id) do
                          = @item.category.parent.name
                      %br
                      = link_to category_categories_show_path(category_id: @item.category.id) do
                        = @item.category.name
                  %tr
                    %th ブランド
                    %td 
                      - if @item.brand != nil
                        = @item.brand.name
                      - else
                        = "ブランドは指定されていません"
                  %tr
                    %th 商品の状態
                    %td 
                      = @item.status.name
                  %tr
                    %th 配送料の負担
                    %td
                      - if @item.delivery_fee_id == (1)
                        = "送料込み (出品者負担)"
                      - else
                        = "着払い (購入者負担)"
                  %tr
                    %th 発送元の地域
                    %td
                      -# = @item.prefecture.name
                  %tr
                    %th 発送日の目安
                    %td 
                      - if @item.days_until_shipping_id == (1)
                        = "1~2日で発送"
                      - elsif @item.days_until_shipping_id == (2)
                        = "2~3日で発送"
                      - else 
                        = "4~7日で発送"

            .optionalArea
              %ul
              %ul.optional
                %li.optionalBtn
                  = link_to root_path do
                    = icon("fas", "flag")
                    "不適切な商品の通報"
        
        %ul.links
          - num = @item.id
          %li
            = link_to item_path(num + 1) do
              = icon("fas", "angle-left")
              %span 前の商品

          %li
            = link_to item_path(num - 1) do
              %span 後ろの商品
              = icon("fas", "angle-right")

        .item__change__box
          .item__change__box__edit
            .btn__default
              - if user_signed_in? && current_user.id == @item.seller_id && @item.buyer_id.blank?
                .btn__default__btn__blue
                  = link_to edit_item_path(@item) do
                    %input.btn__default.btn__blue{type: "submit", value: "商品を編集する"} 
                  %p.text__center or
                .btn__default.btn__gray  
                  = link_to item_path(@item), method: :delete, local: true, data: { confirm: '削除してよろしいですか？' } do
                    %input.btn__default.btn__gray{type: "submit", value: "この商品を削除する"}
              


        .relatedItems
          = link_to category_path(category_id: @item.category.id) do
            = "#{@item.category.name}をもっと見る"
          .productLists
            - Item.where(category_id: @item.category.id).limit(3).each do |item|
              .productList
                = link_to item_path(item.id) do
                  .productList__img
                    = image_tag item.images[0].src.url
                  .productList__body
                    .name
                      = item.name
                    .details
                      %ul
                        %li 
                          = item.price
                          円
                        %li
                          = icon("fas", "star")
                          1
                      %p (税込)
        

       

  %aside.addBanner
    .inner
      .inner__title だれでもかんたん、人生を変えるフリマアプリ
      .inner__text 今すぐ無料ダウンロード！
      .inner__icon
        = link_to root_path do
          = image_tag asset_path('app-store.svg'),class:"aBtn"
        = link_to root_path do
          = image_tag asset_path('google-play.svg'),class:"gBtn"




  = render "footer"

  = link_to new_item_path do
    .purchaseBtn
      %span.purchaseBtn__text 出品する
      = image_tag asset_path('icon_camera.png'),class:"purchaseBtn__icon"
