%body
  %header.pcHeader
    .headerInner
      .mainHeader
        %h1.icon
          = link_to root_path do
            = image_tag asset_path('logo.png')
        .searchBox
          %form{"accept-charset" => "UTF-8", action: "#", method: "get"}
            %input{name: "utf8", type: "hidden", value: "✓"}/
            %input#searchInput.searchBox--input{name: "key", placeholder: "キーワードから探す"}/
            %button{type: "submit"}
              .searchBox__icon
                = image_tag asset_path('icon-search 1.png')
      %ul.resultLists
      .nav
        %ul.listsLeft
          %li.listsLeft__item.listsLeft__item--first
            = link_to "カテゴリー",root_path,id:"catBtn" 
            .tree.displayNone
              %ul.categoryTree
                %li.categoryTree--item
                  = link_to "レディース",root_path,id:"1" 
                %li.categoryTree--item
                  = link_to "メンズ",root_path,id:"2"
                %li.categoryTree--item
                  = link_to "ベビー・キッズ",root_path,id:"3"
                %li.categoryTree--item
                  = link_to "インテリア・住まい・小物",root_path,id:"4"
                %li.categoryTree--item
                  = link_to "本・音楽・ゲーム",root_path,id:"5"
                %li.categoryTree--item
                  = link_to "おもちゃ・ホビー・グッズ",root_path,id:"6"
                %li.categoryTree--item
                  = link_to "コスメ・香水・美容",root_path,id:"7"
                %li.categoryTree--item
                  = link_to "家電・スマホ・カメラ",root_path,id:"8"
                %li.categoryTree--item
                  = link_to "スポーツ・レジャー",root_path,id:"9"
                %li.categoryTree--item
                  = link_to "ハンドメイド",root_path,id:"10"
                %li.categoryTree--item
                  = link_to "チケット",root_path,id:"11"
                %li.categoryTree--item
                  = link_to "自動車・オートバイ",root_path,id:"12"
                %li.categoryTree--item
                  = link_to "その他",root_path,id:"13"
          %li.listsLeft__item
            = link_to "ブランド",root_path,id:"brandBtn"
            %ul.brandsPulldown.displayNone
        %ul.listsRight
          %li.listsRight__item.listsRight__item--login
            = link_to "ログイン",root_path
          %li.listsRight__item.listsRight__item--new
            = link_to "新規会員登録",root_path


  %nav.breadCrumbs
    %ul
      %li
        = link_to "FURIMA",root_path
      %li 
        = icon("fas", "angle-right")
      %li
        = link_to categories_path do
          = @item.category.parent.parent.name
      %li 
        = icon("fas", "angle-right")
      %li
        = link_to category_categories_child_show_path(category_id: @item.category.id) do
          = @item.category.parent.name
      %li
        = icon("fas", "angle-right")
      %li
        = link_to category_path(category_id: @item.category.id) do
          = @item.category.name
      %li
        = icon("fas", "angle-right")
      %li
        %p
          = @item.name


  .main
    .showMain
      .contentLeftqq
      .contentRight
        .topContent
          .itemBox
            .itemBox__name
              = @item.name
            .itemBox__body
              %ul
                %li
                  = image_tag @item.images[0].src.url,id:'bigimg'
                  %ul
                    .item_images
                      %li
                        - @item.images.each do |i|
                          = image_tag i.src.url,class:'thumb'

              -# :javascript
              -#   const thumbs = document.querySelectorAll('.thumb');
              -#     thumbs.forEach(function(item,index) {
              -#       item.onclick = function(){
              -#         console.log(this)
              -#         document.getElementById('bigimg').src = this.src;
              -#       }
              -#     });
                        

                 
            .itemBox__price
              - price = @item.price
              - postage = 500
              - if @item.delivery_fee_id == (1)
                %span ¥
                = @item.price
                %p (税込)
              - else
                %span ¥
                = price + postage
                %p (税込)
              .itemBox__price__detail
                

            .itembox__detail__buy
              - if user_signed_in? && current_user.id != @item.seller_id && @item.buyer_id != current_user.id
                %button= link_to '購入画面に進む',confirm_path(@item)

            .itembox_blank
            
            .table
              %table
                %tbody
                  %tr
                    %th 出品者
                    %td 
                      = @user.nickname
                  %tr
                    %th カテゴリー
                    %td
                      = link_to category_path(category_id: @item.category.id) do
                        = @item.category.parent.parent.name
                      %br
                      = link_to category_categories_child_show_path(category_id: @item.category.id) do
                        = @item.category.parent.name
                      %br
                      = link_to category_categories_show_path(category_id: @item.category.id) do
                        = @item.category.name
                  %tr
                    %th ブランド
                    %td 
                      
                  %tr
                    %th 商品のサイズ
                    %td 

                  %tr
                    %th 商品の状態
                    %td 
                      = @item.status.name
                  %tr
                    %th 配送料の負担
                    %td
                      - if @item.delivery_fee_id == (1)
                        = "送料込み (出品者負担)"
                      - else
                        = "着払い (購入者負担)"
                  %tr
                    %th 発送元の地域
                    %td
                      = @item.prefecture.name
                  %tr
                    %th 発送日の目安
                    %td 
                      - if @item.days_until_shipping_id == (1)
                        = "1~2日で発送"
                      - elsif @item.days_until_shipping_id == (2)
                        = "2~3日で発送"
                      - else 
                        = "4~7日で発送"

            .optionalArea
              %ul
              %ul.optional
                %li.optionalBtn
                  = link_to root_path do
                    = icon("fas", "flag")
                    "不適切な商品の通報"
        
        %ul.links
          %li
            = link_to root_path do
              = icon("fas", "angle-left")
              %span
              前の商品
          %li
            = link_to root_path do
              %span 後ろの商品
              = icon("fas", "angle-right")

        .item__change__box
          .item__change__box__edit
            .btn__default
              - if user_signed_in? && current_user.id != @item.seller_id && @item.buyer_id != current_user.id
                .btn__default__btn__blue
                  = link_to edit_item_path(@item) do
                    %input.btn__default.btn__blue{type: "submit", value: "商品を編集する"} 
                  %p.text__center or
                .btn__default.btn__gray  
                  = link_to item_path(@item), method: :delete, local: true, data: { confirm: '削除してよろしいですか？' } do
                    %input.btn__default.btn__gray{type: "submit", value: "この商品を削除する"}
              


        .relatedItems
          = link_to "#{@item.category.name}をもっと見る",root_path
        
       

        

          .productLists
            .productList
              = link_to root_path do
                .productList--img
                  = image_tag asset_path('Apple_mac.jpg')
                .productList--body
                  .name XXXXX
                  .details
                    %ul
                      %li XXXXX円
                      %li
                        = icon("fas", "star")
                        0
                    %p (税込)

  %aside.addBanner
    .inner
      .inner__title だれでもかんたん、人生を変えるフリマアプリ
      .inner__text 今すぐ無料ダウンロード！
      .inner__icon
        = link_to root_path do
          = image_tag asset_path('app-store.svg'),class:"aBtn"
        = link_to root_path do
          = image_tag asset_path('google-play.svg'),class:"gBtn"





  .footer
    %ul.contents
      %li.content
        .content__head FURIMAについて
        %ul
          %li
            = link_to "会社概要(運営会社)",root_path
          %li
            = link_to "プライバシーポリシー",root_path
          %li
            = link_to "FURIMA利用規約",root_path
          %li
            = link_to "ポイントに関する特約",root_path

      %li.content
        .content__head FURIMAを見る
        %ul
          %li
            = link_to "カテゴリー一覧",root_path
          %li
            = link_to "ブランド一覧",root_path

      %li.content
        .content__head ヘルプ＆ガイド
        %ul
          %li
            = link_to "FURIMAガイド",root_path
          %li
            = link_to "FURIMAロゴ利用ガイドライン",root_path
          %li
            = link_to "お知らせ",root_path

    .footer__logo
      = link_to root_path do
        = image_tag asset_path('logo-white.png')
      %p © FURIMA

  = link_to root_path do
    .purchaseBtn
      %span.purchaseBtn__text 出品する
      = image_tag asset_path('icon_camera.png'),class:"purchaseBtn__icon"
