カテゴリーごとの一覧ページ(子カテゴリー)


.Category_children_list
  - @grandchild_category_list.each do |category|
    - Item.where(category_id: category.id).each do |item|
      .Category_children_item_name
        商品名
        %br
        = link_to '#' do
          -# 詳細画面にリンク
          = item.name
      %br
      .Category_children_item_explanation
        画像
        %br
          = image_tag "#{item.images[0].src}"
      %br
      
      .Category_children_item_price
        値段
        %br
        = item.price
      %br
      