-# カテゴリーごとの一覧ページ(子カテゴリー)
%body
  %header.pcHeader
    .headerInner
      .mainHeader
        %h1.icon
          = link_to root_path do
            = image_tag asset_path('logo.png')
        .searchBox
          %form{"accept-charset" => "UTF-8", action: "/items/search", method: "get"}
            %input{name: "utf8", type: "hidden", value: "✓"}/
            %input#searchInput.searchBox--input{name: "key", placeholder: "キーワードから探す"}/
            %button{type: "submit"}
              .searchBox__icon
                = image_tag asset_path('icon-search 1.png')
  %nav.breadCrumbs
    %ul
      %li
        = link_to "FURIMA",root_path
      %li 
        = icon("fas", "angle-right")
      %li
        = link_to categories_path do
          - if @grandchild_category.parent.parent != nil
            = @grandchild_category.parent.parent.name
          - else
            = @grandchild_category.parent.name
      - if @grandchild_category.parent.parent != nil
        %li 
          = icon("fas", "angle-right")
        %li
          = @grandchild_category.parent.name
        
  .main
    .showMain
      .contentLeft
      .contentRight
        .titleBox
          %p 
            = @grandchild_category.parent.name
            の商品一覧

.category_products_list_wrapper
  .category_products_wrapper
    .category_products
      - @list_array.each do |item|
        .Category_children_item_name
          .productBox
            = link_to item_path(item.id) do
              .category_productLists
                .category_productLists__img
                  = image_tag "#{item.images[0].src}", class:"category_image_show"
                .category_productLists_body
                  = item.name
                  .category_productLists_body__details
                    %ul
                      %li
                        = item.price
                        円 (税込)
                      %li
                        = icon("fas", "star")
                        1
    = paginate @list_array

  %aside.addBanner
    .inner
      .inner__title だれでもかんたん、人生を変えるフリマアプリ
      .inner__text 今すぐ無料ダウンロード！
      .inner__icon
        = link_to root_path do
          = image_tag src= asset_path('app-store.svg')
        = link_to root_path do
          = image_tag src= asset_path('google-play.svg')
  
  = render "footer"

  = link_to root_path do
    .purchaseBtn
      %span.purchaseBtn__text 出品する
      = image_tag asset_path('icon_camera.png')
     

      