-# js（スクロール）実装済
-# ビューを全く修正していません
カテゴリーの名前一覧

.Category_list
  - Category.where(ancestry: nil).each_with_index do |parent, i|
    .category_list_btn
      %button
        = link_to "##{i}", class: "box__parent--link" do
          = parent.name

- Category.where(ancestry: nil).each_with_index do |parent, i|
  .Category_wrapper
    .Category_parent_block
      .Category_parent_name{id: "#{i}"}
        = parent.name
    .Category_child_block
      - parent.children.each do |child|
        .Category_child_name
          = link_to category_category_list_to_children_list_path(category_id: child.id) do
            = child.name
        .Category_ground_child_block
          - child.children.each do |grand_child|
            .Category_ground_child_name
              = link_to category_categories_show_path(category_id: grand_child.id) do
                = grand_child.name