
%body
  %header.pcHeader
    .headerInner
      .mainHeader
        %h1.icon
          = link_to root_path do
            = image_tag asset_path('logo.png')
        .searchBox
          %form{"accept-charset" => "UTF-8", action: "/items/search", method: "get"}
            %input{name: "utf8", type: "hidden", value: "✓"}/
            %input#searchInput.searchBox--input{name: "key", placeholder: "キーワードから探す"}/
            %button{type: "submit"}
              .searchBox__icon
                = image_tag asset_path('icon-search 1.png')
 

.Category__name
  カテゴリー一覧

.Category__list
  - Category.where(ancestry: nil).each_with_index do |parent, i|
    .Category__list__view
      .Category__list__view__btn
        %button
          = link_to "##{i}", class: "box__parent--link" do
            = parent.name

- Category.where(ancestry: nil).each_with_index do |parent, i|
  .Category_wrapper
    .Category_parent_block
      .Category_parent_name{id: "#{i}"}
        = parent.name
    - parent.children.each do |child|
      .Category_child_block
        .Category_child_name
          = link_to category_category_list_to_children_list_path(category_id: child.id) do
            = child.name
            .Category_ground_child_block
              - child.children.each do |grand_child|  
                .Category_ground_child_name
                  = link_to category_categories_show_path(category_id: grand_child.id) do
                    = grand_child.name

.footer
  = render "users/footer"